# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
venv/
.env
.env.*
.venv/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Vite build
dist/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Backend artifacts
backend/heatmaps/

# Frontend artifacts
pneumonia-ui/node_modules/
pneumonia-ui/dist/
